<table border="1">
    <thead>
    <tr>
    	<th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th></th>             
    </tr>
    </thead>
    <tbody>
    {{#clients}}
        <tr>
        	<td>{{id}}</td>
            <td>{{nom}}</td>
            <td>{{prenom}}</td>
            <td><a href="/clients/{{id}}/xlsx"/>Telecharger </a></td>                    
        </tr>
    {{/clients}}
    </tbody>
</table>